:root {
    --green: #11ac52;
    --black: #242526;
    --yellow: #F2CE16;
    --time: .3s;
    --height: calc(100vh - 223px);
    /* --height: 100vh; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial';
}

body {
    /* background-image: url(../Images/forest.jpg); */
    background-image: url(../Images/forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     background-attachment: fixed;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 0 0 5px black;
}

header {
    height: 150px;
    background-image: url(../Images/forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header div {
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 146px, rgba(255,255,255,0) 45%);
}

header div img {
    height: 100%;
    margin-left: 2%;
}


nav {
    background-color: var(--black);
    color: var(--yellow);
    box-shadow: 0 0 5px black;
}


nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 5px 50px 5px 0;
    list-style: none;
}

nav ul li {
    position: relative;
    margin: 0 20px;
    padding: 5px 10px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    transition: .3s;
}

nav ul li::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -30px;
    background-color: rgba(250,250,250,.2);
    transform: rotate(-30deg);
    padding: 30px 10px;
    transition: .5s;
}

nav ul li:hover {
    background-color: black;
    box-shadow: 0 0 5px grey;
    border-radius: 4px;

}

nav ul li:hover::after {
    animation: flash .6s both;
}

main {
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 223px);
    /* background-color: var(--black); */
    /* background-color: pink; */
}

main section {
    position: relative;
    top: 0;
    left: 0;
    min-height: var(--height);
    min-width: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: .3s;
}

.container {
    margin: 10px;
    padding: 5px;
    width: 100%;
    border-radius: 4px;
    /* background-color: rgba(250,250,250, .4); */
}

.container:first-child {
    overflow: hidden;
}

.container h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(250,250,250,.6);
    border-radius: 4px;
    backdrop-filter: blur(5px);
}

.element {
    display: flex;
    margin: 25px 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.element:nth-child(even) {
    flex-direction: row-reverse;
}

.element p {
    margin: 0 20px;
    padding: 40px;
    flex-basis: 70%;
    background-color: rgba(250,250,250,.6);
    border-radius: 4px;
    backdrop-filter: blur(5px);
}

.icon {
    position: relative;
    height: 150px;
    width: 150px;
    text-align: center;
    background-color: var(--black);
    border-radius: 150px;
    border: 5px solid black;
    animation: itemEffect 1s;
    transition: .3s;
    overflow: hidden;
}

.icon:hover {
    transform: rotateZ(45deg);
}

.icon i {
    line-height: 150px;
    color: var(--yellow);
    font-size: 80px;
}

.about {
    background-image: url(../Images/dog.png);
}

.ourDogs {
    background-image: url(../Images/dog3.png);
}

.gallery {
    background-image: url(../Images/dog2.png);

}

.galleryContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.galleryContainer a {
    
    margin: 15px;
    flex-basis: 40%;
    border-radius: 4px;
    /* width: 30%; */
}

.galleryContainer a img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px black;
    transition: .3s;
}

.galleryContainer a img:hover {
    transform: scale(1.05);
}

.contact {
    background-image: url(../Images/field.jpg);
}

.contact .container {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.contactData {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contactData .icon {
    margin: 0 auto 10px auto;
}

.contactData  .icon:hover {
    transform: unset;
}

.contactData  .icon i {
    position: relative;
    top: 0;
    transition: .3s;
}

.contactData  .home:hover i {
    transform: scale(1.2);
}

.contactData  .phone:hover i {
    animation: ring 4s ease-in-out
}


.contactData  .meil:hover i {
    animation: meil 1s;
}

.contactData p {
    margin: 5px 0;
    text-align: center;
}

.contact iframe {
    flex-basis: 100%;
    margin-top: 15px;
    box-shadow: 0 0 5px black;
}

footer {
    display: flex;
    justify-content: center;
    line-height: 35px;
    text-align: center;
    background-color: var(--black);
    color: var(--yellow);
}

footer a {
    margin-left: 10px;
    text-decoration: none;
    color: #F2F2F2;
    transition: .3s;
}

footer a:hover {
    color: var(--yellow);
    text-decoration: underline;
}


/* features */

section.off {
    position: absolute;
    left: 100%;
}

.feature {
    /* background-color: black;
    box-shadow: 0 0 5px grey; */
}

.feature::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -30px;
    background-color: rgba(250,250,250,.2);
    transform: rotate(-30deg);
    padding: 30px 10px;
    transition: .5s;
    animation: flash .6s both;
}


/* ANIMACJE */

@keyframes flash {
    0% {    left: -30px;}
    99.99% {    left: 135px;}
    100% {left: -30px;}
}

@keyframes itemEffect {
    0% {transform: scale(0);}
    70% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

@keyframes meil {
    0% {top: 0;}
    50% {top: 100px;}
    50.1% {top: -100px;}
    100% {top: 0;}
}

@keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
  }
